<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EAO copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EAO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>110FF1101E8C4835000DB1A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>110FF14E1E8C4AB4000DB1A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1186B5371ECB699D00681426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9688D5171E69DA4300C49CD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9688D52B1E69DA4300C49CD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
